:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0px;
  width: 100%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: top;
  min-width: 320px;
  width: 100%;

  min-width: 100%;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


.centerMe{
  text-align: center;
}

.loginPage{
  width: 100%;
  min-width: 100%;
  padding: 5%;
  margin: auto;
}


.loginButton{
  margin: auto;
  padding: 7px;
  border-radius: 7px;
  border-style: solid;
}

.oneSpace{
  width: 1px;
}


#root {
  width: 100%;
  margin: 0px;
  text-align: center;
  height: 500px;
  min-height: 100%;
}

.page {
  width: 50%;
}

.pageSelected {
  font-weight: bold;
  font-size: large;
  /* text-decoration: underline; */
  justify-content: space-around;
  width: 50%;
}

.main-navbar {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  background-color: #242424;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}

.locker {
  position:fixed;
  width: 100%
}

.authButton {
  color: white;
  background-color: grey;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  position: center;
}

.spacer {
  padding: 10px;
}

.User {
  margin: 25px;
}

.unBulleted {
  list-style-type: none;
}

.goHome{
  text-decoration: none;
  color: white;
}

.bigProfilePhoto{
  height: 50px;
  border-radius: 50px;
}

.smallProfilePhoto{
  height: 20px;
  border-radius: 10px;
}

.mainCreate{
  background-color: #696969;
  bottom: 0px;
  right:0px;
  width: 80%;
  max-width: 700px;
  min-height: 50%;
  max-height: 75%;
  position: fixed;
  border-top-left-radius: 15px;
  box-shadow: 5px 5px 5px 5px #696969;
}

.closeIcon{
  height: 25px;
  position: relative;
  left: 45%;
  margin-top: 1%;
}

.title{
  min-width: 90%;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0px 8px 4px #242424;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding-left: 10px;

  outline: none;
}

.description{
  min-width: 90%;
  min-height: 90px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0px 8px 4px #242424;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding-left: 10px;

  outline: none;
}

.imageBox{
  background-color: #383838;
  max-width: 90%;
  border-radius: 15px;
  padding: 5%;
  margin: 5%;
  margin-bottom: 10px;
  margin-top: 0%;
  text-align: center;
  box-shadow: 0px 8px 4px #242424;
  /*max-height: 100%;*/
  max-height: 150px;
}

.createButton{
  position: relative;
  margin: 1%;
  height: 30px;
  width: 90%;
}

.imagePreview{
  max-width: 100%;
  max-height: 150px;
  border-radius: 15px;
}

.lengthIndicator{
  padding: 0px;
  margin: 0px;
}

.lengthIndicatorRed{
  padding: 0px;
  margin: 0px;
  color: red;
}

ul{
  list-style: none;
}

ul.horizontal1 li {
  display: inline-block;
  padding-right: 5%;
  padding-left: 5%;
}

ul.horizontal li {
  display: inline-block;
  padding: 5px;
}

.mainImg{
  max-width: 90%;
  max-height: 500px;
  border-radius: 15px;
}

.imageWraper{
  width: 100%;
}

.spacer5{
  height: 5px;
}

.loginButton {
  color: white;
  background-color: darkgray;
}